@import 'variables';
@import 'mixins';

.loader-container {
    @include flex-center;
    flex-direction: column;
    height: 50vh;
    gap: 2rem;

    .spinner {
        width: 50px;
        height: 50px;
        border: 3px solid rgba($accent-color, 0.3);
        border-radius: 50%;
        border-top-color: $accent-color;
        animation: spin 1s ease-in-out infinite;
    }

    p {
        font-family: $font-header;
        color: $text-light;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 0.9rem;
        animation: pulse 2s infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}